#promo {
  text-align: center;
  padding: 40px;
  background-image: url("../../assets/img/background.jpg");
  background-repeat: no-repeat;
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

body {
  font-family: 'Montserrat';
}

#welcome p {
  max-width: 8000px;
  font-size: 20px;
  margin: 0 auto;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
}

.site-section {
  text-align: center;
  padding: 50px 0 60px;
}

#why .item i {
  color: #db2580;
  font-size: 42px;
}

#why .item {
  font-weight: normal;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
}

.dark-section {
  background-color: #fff6f6;
}

#logo {
  max-height: 30px;
  margin-right: 15px;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.footer-clean {
  background-color: rgb(255,252,249);
}

